// auditLog.scss

.audit {
    display: flex;
  
    .auditContainer {
      flex: 6;
      background-color: #e1f7fa;
      div{
       h1{
        margin-left: 20px;
       }
        table {
        
            width: 95%;
            border-collapse: collapse;
            margin: 20px;
      
            th, td {
              border: 1px solid #ddd;
              padding: 8px;
              text-align: left;
            }
      
            th {
              background-color: #f2f2f2;
            }
      
            tr:nth-child(even) {
              background-color: #f2f2f2;
            }
      
            tr:hover {
              background-color: #ddd;
            }
          }
      }
    
    }
  }
  